h1 {
    color:darkmagenta;
    font-family: garamond;
    background-color: bisque;
    text-align: center;
}
p {
    text-align: justify;
    background-color: bisque;
    padding: 20px;
}
strong{
    padding: 20px;
}
img {
    display: block;
    text-align: center;
    height: 25%;
    width: 25%;
}