
# Created by https://www.gitignore.io/api/linux,mac

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
.DS_Store

dyahparamita/bungaherasri1.jpeg

.DS_Store

Sandra-codingmum/bootstrap html project/images/bäddabädda640.jpg
