#header1{
    text-align: center;
    background-color:red;
    color:white;
    padding:10px;
    font-family: sans-serif;
    font-size:200%;
}

#header2 {
    color:black;
    font-size: 150%;
    text-align: center;
    padding-left: 15px;
    width:350px;
 }

#kolom1 {
    background-color:lightpink;
    float: left;
    padding: 15px;
    width: 350px;
    
}

#kolom2 {
    float: left;
    font-family: monospace;
    width: 450px;
    color:black;
    padding: 10px;
}

#kolom3 {
    float: overflow;
    text-align: justify;
    font-family: monospace;
    color:black;
    padding: 10px;
}

#catatan {
    background-color:red;
    color:white;
    font-family: monospace;
    clear: both;
    padding: 10px;
}
