h1{
    text-align: center;
    font-size:"7"
}
h2 {
  margin: 0;
  width: 150px;
  text-align: right;
  font: bold 20px Sans-Serif; color: red
}
  
div {
  margin: 15 15 30px 0;
  width:
  padding: 10px;
  background: azure;
  font-size: "6" 
}