#header1{
    text-align: center;
    background-color:lightblue;
    color:white;
    padding:5px;
    font-family: sans-serif;
    font-size:250%;
}
#dropdown {
    button type="button"
    padding: 16px;
    font-size: 16px;
    border: red;
    cursor: pointer;
}
