#container {
    background-color:lightpurple;
    color:white;
/*    text-align:center;*/
/*    padding:5px; */
    width: 960px;
    margin: 0 auto;
}

#header {
    background-color:darkgrey;
    color:white;
    clear: both;
 }


#primary {
    background-color:black;
    color:white;
/*    text-align:center;*/
/*    padding:5px; */
    float: left;
    width: 240px;
}

#content {
    background-color:skyblue;
    color:dodgerblue;
/*    text-align:center;*/
/*    padding:5px; */
    float: left;
    width: 480px;
}

#secondary {
    background-color:lightpink;
    color:white;
/*    text-align:center;*/
/*    padding:5px; */
    float: left;
    width: 240px;
}

#footer {
    background-color:greenyellow;
    color:white;
    clear: both;
}
