#container {
    width: 960px;
    margin: 0 auto;
}

#primary {
    float: left;
    width: 240px;
}

#content {
    float: left;
    width: 480px;
}

#secondary {
    float: left;
    width: 240px;
}

#footer {
    clear: both;
}
