.menu {
	list-style: none;
}

.merah {
	color: #FF0000;
	/*color: rgba(255, 0, 0, 1);*/
}

.biru {
	color: #0000FF;
}

.paksa {
  display: block;
}

.lemah {
	display: inline;
}

/* Section Picture */
#picture {
	background-image: url(picture.jpg);
	background-repeat: no-repeat;

	background-color: rgba(244, 212, 100, 0.1);

	opacity: 0.1;
}

#picture .socialmedia {
  position: relative;
  top: 50%;
}

#picture p  {
  text-align: justify;
}

