body { 
    height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 { text-align: center;
    font-family: sans-serif;
    color: magenta;
}

h2 {
	font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4{
    font-size: 20px;
    color: skyblue;
    font-family: sans-serif
}

.container{
    padding: 20px;
    background: white;   
}

/*.inside-head{
    background-image: url(fotograrden.jpeg)
    background-position: center top;
    background-size: cover;
    padding: 50px;
    
}
*/

#kolomkiri{
    width: 250px;
    float: left;
    padding: 20px;
    background-color: plum;
    padding: 20px;
}

#kolomtengah{
    float: left;
    width: 500px;
    padding: 20px;
}

#kolomkanan{
    float: left;
    width: auto;
    padding: 20px;
}

ul{
    font-size: 20px;
    color: skyblue;
    font-family:sans-serif        
}
p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}


