@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body, html{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: fantasy;
    color: black;
}

.judul {
    margin: 0;
    padding: 0 0 0 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 50px;
}


li {
    display: inline-block;
   
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: oswald;
    font-weight: 400;
}

p {
    color: black;
    font-family: Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #262626;
}

.biggest-container{
    background: white;    
}

.image-container{
    text-align: center;   
}

.nav{
    text-align: center;
    margin-bottom: 10px;
}
.nav ul li  {
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-color: white;
}
.nav ul li a {
    color: black;
    font-family: oswald;
    text-transform: uppercase;
    text-decoration: none;
}

.nav ul li a:hover {
    color: coral;
}

.judulweb {
    display: block;
    margin: 40px auto 5px auto;
    vertical-align: middle;
    text-align: center;
}

.blockitem{
    padding: 2px 0;
    background-color: #262626;
    color: #fff;
    text-align: center;
}

.blockitem span {
    color: white;
    font-family: oswald;
    text-transform: uppercase;
}