body{
    background-color: beige;
}
#container {
    width: 960px;
    margin: 0 auto;
}

#header {
    background-color:black;
    border-radius: 10px;
    color:white;
    clear: both;
    text-align: center;
    height: 50px;
 }
#header h1{
    line-height: 47px;
}
#primary {
    background-color:darkgray;
    color:black;
    float: left;
    width: 240px;
    height: 800px;
    margin-bottom: 5px;
}

#content {
    background:white;
    height: 800px;
    margin-bottom: 5px;
}
#content h2{
    padding: 10px;
    text-align: center;
    color:black;
}
#content p{
    padding: 10px;
    text-align: justify;  
}

#content img{
    padding: 10px;
    float: left;
}

#footer {
    text-align: center;
    background-color:black;
    color:white;
    clear: both;
    border-radius: 10px;
   
}
