@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html, body {
  min-height: 100%;
  display:flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body { 
    font-family: fjalla one, sans-serif;
    background-color: beige;
  background-position: center;
  background-size:cover;
  margin: 0;
}

.header-title{
    text-align: center;
    margin:10px;
    
    
}
.header{
/*    padding: px;*/
    background-color: burlywood;  
    margin: 20px;
    margin-left: 120px;
    margin-right: 120px;
    clear:both;
    text-align:center;
    font-family: fjalla one, sans-serif;
}

}

.hero { 
  background-color:#f3e5ab;
  background-size:contain;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 50px 0;
	margin: 0px; color: #ffffff;
}

.top{
    list-style: none;
    padding-top: 10px;
    word-spacing: 40px;

}
.top li {
    display: inline-block;
}

.top li img{
    width: 50px;
    
}
.top li a{
    text-decoration: none;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:;
    min-width: 80px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 4px;
    color:aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.middle{
    padding: 300px;
    background-image:url(../image/teling.jpg);  
    margin: 120;
    margin-top: 0px;
    clear:both;
    text-align:center ;
    background-size:cover;
    background-position: center;
    display: inline-block;
}

/*.img{*/
/*    opacity:0.5;*/
/*}*/




.footer {
    padding: 10px 0;
    margin-top: 10px;
    background-color: #262626;
    color: #fff;
    text-align: center;   
}

.myprofile-btn {
  float:none;
}

.myprofile-btn a {
  cursor: pointer;
  margin: 0px;
  padding: 5px 0px;
  border: none;
  position:relative;
  resize: 20px;


}

.myprofile-btn a:active {
  top: 20px;

}