body { 
    height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

body { 
    font-family: 'Lato', sans-serif;
    background-image: url('http://freedesignfile.com/upload/2013/11/blue_sky_05.jpg');
  background-position: center;
  background-size:cover;
  margin: 0;
}


h1 { text-align: center;
    font-family: sans-serif;
}

h2 {
	font-size: 30px;
    text-align: justify;
    font-family: sans-serif;
}

h3 {
    font-size: 25px;
}

h4{
    font-size: 18px;
    color: blue;
    font-family: sans-serif;
    text-align: justify
}

.container{
    padding: 40px;
    background: #d8bfd8;  
    margin: 30px;
}


#kolomkiri{
    width: 300px;
    float: left;
    padding-left: 40px;
/*    background-color: plum;*/
    
}

#kolomtengah{
    float: left;
    width: 600px;
    padding: 0px;
}

#kolomkanan{
/*    float: right;*/
    overflow: auto;
    padding: 0px;
    
}

li {
    font-size: 20px;
    color: skyblue;
    font-family:sans-serif;
    text-align: left;
    padding-top: 20px;
}
/*p {
	color: skyblue;
	font-size: 20px;
    text-align: justify
}*/

.hero { 
  background-image: url("http://www.vegetablegardener.com/assets/uploads/posts/62669/garden.jpg");
  background-size:contain;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 50px 0;
	margin: 0px; color: #ffffff;
}

.myprofile-btn {
  float: right;
}

.myprofile-btn a {
  cursor: pointer;
  margin-right: 100px;
  padding: 8px 50px;
  border: 2px solid #204156;
  position:relative;

}

.myprofile-btn a:active {
  top: 2px;

}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: plum;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#footer {
    padding: 10px 0;
    margin-top: 1000px;
    background-color: #262626;
    color: #fff;
    text-align: center;   
}


