html, body {
  min-height: 100%;
  display:grid;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
body { 
    font-family: 'Lato', sans-serif;
    background-image: url('http://freedesignfile.com/upload/2013/11/blue_sky_05.jpg');
  background-position: center;
  background-size:cover;
  margin: 20px;
}


h1 { text-align: center;
    font-family: sans-serif;
}

h2 {
	font-size: 30px;
    text-align: justify;
    font-family: sans-serif;
}

h3 {
    font-size: 25px;
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> master
}

h4{
    font-size: 18px;
    color: #ffffff;
=======
    color: blue;
>>>>>>> master
    font-family: sans-serif;
    text-align: justify
}

.container{
    padding: 10px;
    background: #d8bfd8;   
    margin-bottom: 30px;
}


#kolomkiri{
    width: 300px;
    float: left;
    padding: 30px;
    margin-right: 20px;
    background-color: plum;
}

#kolomtengah{
    float: left;
    width: 600px;
    padding: 0px;
}

#kolomkanan{
/*    float: right;*/
    overflow: auto;
    padding: 30px;
    
}

li {
    font-size: 20px;
    color: skyblue;
    font-family:sans-serif;
    text-align: left;
    padding-top: 20px;
}
/*p {
	color: skyblue;
	font-size: 20px;
    text-align: justify
}*/

.hero { 
  background-image: url("http://www.vegetablegardener.com/assets/uploads/posts/62669/garden.jpg");

  background-size:cover;
  background-position:center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 30px 0;
  margin: 20px; color: blue;
}

.myprofile-btn{
    float: right
}

.myprofile-btn a {
    cursor:pointer;
  margin-right:80px;
  padding: 10px 20px;
  border:5px solid #204156;
  position:relative;

}

.myprofile-btn a:active {
  top: 2px;
}

  background-size:contain;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 50px 0;
	margin: 0px; color: #ffffff;
}

.contact-btn a:active {
  top: 2px;
}


#footer {
    padding: 10px;
    margin-top: 70px;
    background-color: plum;
    text-align: center;   
}


