h1 {
    text-align: center; font-size: 50px;background-color: aliceblue;
    font: bold; color:lightcoral;font-family: fantasy; 
}


body {
    background-color: antiquewhite;
    text-align: center;
    text-align:justify;
    padding:15px;
}
#kolom1 {
    text-align: justify; 
    padding: 25px;
    width: 350px;
    font-family: verdana,sans serif;
    float: left;
    background-color: antiquewhite;
    font-size-adjust: 4;
}
    
#kolom2 {
    text-align: justify; 
    padding: 25px;
    width: 600px;
    font-family: monospace;
    float: left;
    background-color: antiquewhite;

}

#kolom3 {
    text-align: justify; 
    padding: 25px;
    width: 350px;
    font-family: monospace;
    float: right;
    background-color: antiquewhite;
}

    
