h1 {
    text-align: center; font-size: 50px;
 font: bold 50px; background-color: lightcyan; color: orange;

#kolom1 {
    text-align: justify; 
    padding: 25px;
    width: 350px;
    font-family:monospace;
    background-color: antiquewhite;
    float: left;
}
    
#kolom2 {
    text-align: justify;
    padding: 10px;
    width: 240px;
    font-family: monospace;
    background-color: antiquewhite;
    float:left;
}