h1 {
    text-align: center; font-size: 50px;
 font: bold 50px; background-color: lightcyan; color: orange;
    font: bold 50px; background-color: lightcyan; color: orange;
}

#kolom1 {
    text-align: justify; 
    padding: 25px;
    width: 400px;
    font-family:monospace;
    background-color: antiquewhite;
    float: left;
}

#kolom2 {
    text-align: justify;
    padding 10px;
    width: 400px;
    font-family: monospace;
    background-color: aliceblue;
    float:left;
}
