h2 { 
    font-family: fantasy; 
    vertical-align: middle;
    color: aquamarine
}
p {
    font family: courier, sans serif;
        padding: 15px;
    text-align: justify;
    float: left;
    color: aquamarine;
}