h1 { 
    font-family: sans-serif;
    color: darkorange;
    text-align: center;
}

.openingtext {
    background-color:aliceblue;
    color:orangered;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-family: sans-serif;
}

.text1 {
    background-color: beige;
    color: brown;
    font-family: helvetica;
}
            
.bakso1 {
    width:200px;
    float:left;
    padding:10px;
    
    
}

.bakso2 {
    float: left;
    width: 200px;
    padding:10px;
    padding-left: 120px;
}

.bakso3{
    overflow: auto;
    padding:10px;
    padding-left: 180px;
}